<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light-silver">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarPrimary" aria-controls="navbarPrimary" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': navOpen}" id="navbarPrimary">
    <div class="mr-auto">
      <button class="btn btn-link btn-sm">Contactenos</button>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link btn btn-success btn-block" role="button" href="#" *ngIf="!loggedIn" (click)="openModal(mdLogin)">
          <fa-icon [icon]="faUser"></fa-icon>
          Login
        </a>
      </li>
      <li>
        <a class="nav-link btn btn-danger btn-block" role="button" href="#" *ngIf="loggedIn" (click)="signOut()">
          <fa-icon [icon]="faUser"></fa-icon>
          Logout
        </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-danger btn-sm my-2 my-sm-0 mr-2 btn-soft" type="button" (click)="openPublicar(mdLogin, mdRegister)">
        <fa-icon [icon]="faPlusCircle"></fa-icon>
        Publicar
      </button>
      <button class="btn btn-success btn-sm my-2 my-sm-0 btn-soft" *ngIf="!loggedIn" type="button" (click)="openModal(mdLogin)">
        <fa-icon [icon]="faUser"></fa-icon>
        Login
      </button>
      <button class="btn btn-warning btn-sm my-2 my-sm-0 btn-soft" *ngIf="loggedIn" type="button" (click)="signOut()">
        <fa-icon [icon]="faUser"></fa-icon>
        Logout
      </button>
      <span *ngIf="loggedIn" class="ml-2 login-cont">
        <img [src]="user.photoUrl" class="rounded-circle" style="height: 20px;" alt="">
        <small class="ml-2">{{user.name}}</small>
      </span>
      <!-- Login Modal -->
      <ng-template #mdLogin let-modal>
        <div class="modal-body">
          <app-auth (loggedInEvt)="customerLogged($event)" (doRegisterEvt)="openModal(mdRegCustomer)"></app-auth>
        </div>
      </ng-template>
      <!-- Register Customer -->
      <ng-template #mdRegCustomer let-modal>
        <div class="modal-body">
          <app-register-customer (registeredInEvt)="customerRegistered($event)"></app-register-customer>
        </div>
      </ng-template>
      <!-- Register Modal -->
      <ng-template #mdRegister let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-register-store></app-register-store>
        </div>
      </ng-template>
    </form>
  </div>
</nav>