<div>
  <app-header-top></app-header-top>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div style="text-align: center;">
        <img src="assets/img/logo.png" class="img-fluid" alt="">
      </div>
      <p class="lead text-center">Siempre estaremos cerca de ti</p>
      <hr class="my-2">
      <div class="form-group" style="position: relative">
        <input type="text" class="form-control big-input" name="" id="" placeholder="Busca el comercio que necesites..." [(ngModel)]="query" (keydown)="findByInput($event, storeItems)">
        <fa-icon [icon]="faSearch" style="color: #aaa; font-size: 1.5rem; position: absolute; top: .8rem; right: 1.5rem;"></fa-icon>
      </div>
      <app-category-items (selectCategoryEvt)="selectCategory($event)"></app-category-items>
    </div>
  </div>
  <div class="container">
    <app-store-items #storeItems [stores]="stores"></app-store-items>
  </div>
  <app-footer></app-footer>
</div>