<div class="">
  <app-header-top></app-header-top>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div style="text-align: center;">
        <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/760/2884067760_87cc9c4b-5b9f-434c-951e-4978cd67241e.png?cb=1587240601" class="img-fluid" alt="">
      </div>
      <p class="lead text-center">Siempre estaremos cerca de ti</p>
      <hr class="my-2">
      <div class="form-group" style="position: relative">
        <input type="text" class="form-control big-input" name="" id="" placeholder="Busca el comercio que necesites...">
        <fa-icon [icon]="faSearch" style="color: #aaa; font-size: 1.5rem; position: absolute; top: .8rem; right: 1.5rem;"></fa-icon>
      </div>
      <div class="row">
        <div class="col">
          <div class="card card-head-category card-selected bg-success">
            <div class="card-body text-center">
              <span>
                <fa-icon [icon]="faAppleAlt"></fa-icon>
              </span>
              <small>Surtifruver</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-head-category bg-success">
            <div class="card-body text-center">
              <span>
                <fa-icon [icon]="faAppleAlt"></fa-icon>
              </span>
              <small>Surtifruver</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-head-category bg-info">
            <div class="card-body">
              <span>
                <fa-icon [icon]="faShoppingBasket"></fa-icon>
              </span>
              <small>Minimercado</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-head-category bg-danger">
            <div class="card-body">
              <span>
                <fa-icon [icon]="faDrumstickBite"></fa-icon>
              </span>
              <small>Carne</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-head-category bg-secondary">
            <div class="card-body">
              <span>
                <fa-icon [icon]="faCut"></fa-icon>
              </span>
              <small>Peluqueria</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-head-category bg-warning">
            <div class="card-body">
              <span>
                <fa-icon [icon]="faBreadSlice"></fa-icon>
              </span>
              <small>Panaderia</small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-head-category bg-primary">
            <div class="card-body">
              <span>
                <fa-icon [icon]="faUtensils"></fa-icon>
              </span>
              <small>Restaurante</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card card-store">
          <div class="card-body text-center">
            <img src="https://logosrated.net/wp-content/uploads/parser/tokopedia-Logo-1.jpg" alt="">
            <small>Surtifruver</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-store">
          <div class="card-body text-center">
            <img src="https://www.barcelonaexperience.com/blog/wp-content/uploads/2014/10/Ria_Barcelona-Experience_350-x150-px.jpg" alt="">
            <small>Surtifruver</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-store">
          <div class="card-body text-center">
            <img class="img-fluid" src="https://caia.org/sites/default/files/elite-summit-h1_350-x150px_1.gif" alt="">
            <small>Surtifruver</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card card-store">
          <div class="card-body text-center">
            <img class="img-fluid" src="https://wiki.teamfortress.com/w/images/thumb/2/2d/TF2_Beta_logo.png/350px-TF2_Beta_logo.png" alt="">
            <small>Surtifruver</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-store">
          <div class="card-body text-center">
            <img class="img-fluid" src="https://s3-us-west-2.amazonaws.com/collab365-community-wp/wp-content/uploads/sites/2/2017/07/13134544/gc17_logo_onblack.png" alt="">
            <small>Surtifruver</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-store">
          <div class="card-body text-center">
            <img class="img-fluid" src="https://logosrated.net/wp-content/uploads/parser/TRANSPORTES-GUTIERREZ-Logo-1.jpg" alt="">
            <small>Surtifruver</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>