<div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <button class="btn btn-danger btn-block" (click)="signInGoogle()">
                <fa-icon [icon]="faGoogle"></fa-icon>
                Google
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary btn-block" (click)="signInFacebook()">
                <fa-icon [icon]="faFacebook"></fa-icon>
                Facebook
            </button>
        </div>
    </div>
    <hr>
    <div>
        <app-register-customer #registerCust [embedded]="true" (registered)="consumerRegistered($event)"></app-register-customer>
    </div>
    <div class="row">
        <div class="col">
            <button class="btn btn-success btn-block" (click)="signIn()">
                <fa-icon [icon]="faSignInAlt"></fa-icon>
                Login
            </button>
        </div>
    </div>
</div>