<section>
  <div class="row">
    <div class="col">
      <div class="card card-head-category card-selected bg-success">
        <div class="card-body text-center">
          <span>
            <fa-icon [icon]="faAppleAlt"></fa-icon>
          </span>
          <small>Surtifruver</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-head-category bg-success">
        <div class="card-body text-center">
          <span>
            <fa-icon [icon]="faAppleAlt"></fa-icon>
          </span>
          <small>Surtifruver</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-head-category bg-info">
        <div class="card-body">
          <span>
            <fa-icon [icon]="faShoppingBasket"></fa-icon>
          </span>
          <small>Minimercado</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-head-category bg-danger">
        <div class="card-body">
          <span>
            <fa-icon [icon]="faDrumstickBite"></fa-icon>
          </span>
          <small>Carne</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-head-category bg-secondary">
        <div class="card-body">
          <span>
            <fa-icon [icon]="faCut"></fa-icon>
          </span>
          <small>Peluqueria</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-head-category bg-warning">
        <div class="card-body">
          <span>
            <fa-icon [icon]="faBreadSlice"></fa-icon>
          </span>
          <small>Panaderia</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-head-category bg-primary">
        <div class="card-body">
          <span>
            <fa-icon [icon]="faUtensils"></fa-icon>
          </span>
          <small>Restaurante</small>
        </div>
      </div>
    </div>
  </div>
</section>