@import "~bootstrap/scss/bootstrap"

input[type="text"]::-webkit-input-placeholder
    color: #d5d7d9

.big-input
    font-size: 28px
    border-radius: 50px
    padding-left: 30px
    padding-right: 60px

.card-store span
    font-size: 40px
    color: #eee
    display: block

.card-selected
    opacity: 1


/* Card Store */
.card-store
    border: none
    border-radius: 30px
    box-shadow: 3px 3px 3px #aaa
    opacity: .7
    position: relative
    text-align: center
    margin-bottom: 30px
    min-height: 150px

    &:hover
        opacity: .9

.card-store .card-body
    border-radius: 30px
    overflow: hidden
    padding: 0

.card-store small
    display: none

/* Buttons */
.btn-soft
    opacity: .65
    border: none